{% extends "base.html" %}

{% block 'header_title' %} {{title}} {% endblock %}

 {% block 'main_body' %}
    {% if posts %}
      {% for post in posts %}
        <div class="post">
          <a href="{% url 'post_detail' post.owner.username post.pk %}">
            <h2>{{post.title}}</h2>
            <img src="{{ post.image.url }}" width="400px" alt="{{ post.title }}" title="{{ ad.title }}">
          </a>
            <p>{{post.intro}}</p>
            <p>Posted on {{post.publication_date|date:"d/m/Y H:i"}}</p>
        </div>
        <hr>
      {% endfor %}
    {% else %}
        <h3>This user has not published any post yet</h3>
    {% endif %}






    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="./?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="./?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
