{% extends "base.html" %}
 {% block 'main_body' %}
<section class="articles-list">
     {% for post in object_list %}
        <div class="articles">
          <a href="{% url 'post_detail' post.owner.username post.pk %}">
            <div class="cover">
                <img class="article-cover" src="{{ post.image.url }}" width="400px" alt="{{ post.title }}" title="{{ ad.title }}">
            </div>
          </a>

            <div class="info">
                <a class="detail-link" href="{% url 'post_detail' post.owner.username post.pk %}">
                    <h2 class="title">{{post.title}}</h2>
                </a>
                <div class="author-wrapper author">{{post.owner.first_name}} {{post.owner.last_name}}</div>
                <div class="text-wrapper">
                    <div class="text hide-elements">{{post.intro}}</div>
                </div>
                <div class="bottom-info-wrapper">
                    <p class="published-date">Posted on {{post.publication_date|date:"d/m/Y H:i"}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</section>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
